<title-bar title="Recents"></title-bar>
<div class="list listFont">
  <ng-container *ngIf="theme && items?.length">
  <div class="inside" [style.height.px]="items.length * 60" [style.top.px]="(0 - starting) * 60">
    <div class="item" [class.selected]="currentIndex == i" *ngFor="let item of items; let i = index">
      <div class="details">
        <span class="name">{{item.name}}</span>
        <div class="favorite" *ngIf="item.favorite">
          <image src="ic-favorite-mark"></image>
        </div>
      </div>
      <img [src]="theme.getImage('bg-list-s')">
    </div>
  </div>
  </ng-container>
</div>
<tips-bar (b)="navTo('/')"></tips-bar>
