<title-bar title="Consoles"></title-bar>
<div class="grid grid_4x2 rowFont">
  <div class="inside">
    <div class="item" [class.selected]="i == currentIndex" *ngFor="let item of consoles; let i = index" >
      <image src="bg-game-item-f" *ngIf="i == currentIndex"></image>
      <image src="bg-game-item-n" *ngIf="i != currentIndex"></image>
      <div class="details">
        <img [src]="item.image" alt="">
        <div class="title">{{item.name}}</div>
      </div>
    </div>
  </div>
</div>
<tips-bar (b)="navTo('/')"></tips-bar>
